

.container {
    display: flex;
}

.header {
    background-color: #ffffff;
    border-bottom: 2px solid;
    border-color: #1b8fe3;
    height: 6rem;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.headerText {
    padding-top: 10;
    text-align: center;
    color: grey;
}

.containerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #ffffff;
    border-bottom: 2px solid;
    border-color: #1b8fe2;
}

.search {
    padding: 5px;
    align-self: center;
    padding-top: 2%;
    width: 40%;
}

.search-icon {
    height: 2em;
}

.social-icon{
    height: 2em;
}

.social-icon-right {
    padding: 20px;
}

.headerRight {
    padding: 5px;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.categoryMenus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 2px solid;
    border-color: #1b8fe2;
}


.categoryNavigation {
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: space-around;
}



.categoryNewsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
}

.categoryNewsView{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}
  

.categoryNews {
    display: flex;
    flex-direction: column;
    width: 49%;
    /* border: 2px solid;
    border-radius: 2px; 
    border-color: #1b8fe3; */
    padding: .5%;
    margin: .5%;
}

.CategoryNewsItemTitle {
    width: 100%;
    border-bottom: #828282 1px solid;
    margin-bottom: 5px;
}



.CategoryNewsItem{
    display: flex;
    flex-flow: row;
    height: auto;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5px;
}

.CategoryNewsItemImage{
    width: 46%;
}

.CategoryNewsItemDetail{
    display: flex;
    flex-flow: column;
    width: 52%;
}

.CategoryNewsItemInfo {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

.allNewsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* align-items: stretch; */
    padding-left: 15px;
    padding-right: 15px;

}

.singleCategoryNewsContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* align-items: stretch; */
    padding-left: 15px;
    padding-right: 15px;
}

.allNews {
    width: 32%;
    padding: .5%;
    margin: .5%;
}

.singleCategoryTitle {
    width: 100%;
    align-self: center;
    align-content: "center";
    padding: 15px;
}

.allNewsItem {
    display: flex;
    flex-flow: column;
    align-content: center;
    height: auto;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5px;
}

.allNewsItemImage {
    align-self: center;
    height: 280px;
    width: 98%;
    padding-bottom: 10px;
}

.allNewsItemDetail {
    display: flex;
    flex-flow: column;
    align-self: center;
    width: 100%;
}

.allNewsItemInfo {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #ffffff;
    height: 5rem;
}

.loadmore {
    width: 20%;
    text-align: center;
    font-size: 16px;
    align-content: center;
    align-self: center;
    border-radius: 2px;
    bottom: 10px;
}

.logo {
    width: 200px;
}

.slider {
    height: 360px;
}

.sliderText {
    color: #fff;
    font-size: 18px;
    position: absolute;
    font-weight: bold;
    bottom: 10%;
    padding-left: 5%;
    padding-right: 20%;
    align-items: center;
    align-self: center;
    text-align: center;
}


.ant-carousel .slick-slide {
    text-align: center;
    height: 360px;
    line-height: 300px;
    background: #364d79;
    overflow: hidden;
}
  
.ant-carousel .slick-slide h3 {
    color: #fff;
}


/* Tab and Mobile css */

@media screen and (max-width: 800px) { 
    .headerContent {
        flex-direction: column;
        padding-top: 10px;
    }
    .header {
        height: auto;
    }
    .logo {
        width: 240px;
    }
    .search {
        width: 90%;
    }
 }



@media screen and (max-width: 960px) { 

    .categoryNewsContainer {
        flex-direction: column;
    }
    .categoryNewsView{
        flex-direction: column;
        height: auto;
    }
    .categoryNews {
        width: auto;
        padding-bottom: 2%;
    }
    .allNews {
        width: 45%;
        padding-bottom: 2%;
    }

}




@media screen and (max-width: 768px) { 

    .allNewsContainer {
        flex-direction: column;
        height: auto;
    }
    .allNews {
        width: 95%;
        padding-bottom: 2%;
        align-self: center;
    }
    .loadmore {
        width: auto;
    }
    .CategoryNewsItem{
        flex-direction: column;
        align-content: center;
    }
    .CategoryNewsItemImage{
        align-self: center;
        height: 300px;
        width: 95%;
        padding-bottom: 10px;
    }
    .CategoryNewsItemDetail {
        align-self: center;
        width: 95%;
    }
 }
