@import '~antd/dist/antd.css';

.App {
  padding: 0;
  margin: 0;  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  
  display: flex;
}


.loading {
  display: flex;
  margin: 20px;
  padding: 20px;
  align-self: center;
  align-items: center;
  align-content: center;
  
}

.App-logo {
  height: 90px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.profiles {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
}

.profile-item {
  background: whitesmoke;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: salmon;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
